p {
    padding: 20px;
    margin: auto;
    color: rgb(109, 6, 15);
    text-align: center;
    font-size: 30px;
    
}
h1 {
    padding: 20px;
    margin: auto;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 50px;
}
body{
    background: url("burger.jpg");
}
a {
    text-decoration: none;
    font-size: 20px;
    padding: 8px 16px;
    color: black;
    text-align: center;
    float: center;
    margin-left: calc(50% - 55px);
    background-color: #fff;
    opacity: 50%;
}